<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Malmy</h1>
	<p>
		Malmy was built by aspiring web developer <a target="_blank" href="https://www.linkedin.com/hp/?dnr=eowW5BmLRecbfLzvSYZj5215R7ZMfkRvdTMa&trk=hb_signin">Michael Malmfeldt.</a> Michael currently works in Business Academia, but the draw to technology is consuming him.
	</p>

	<div class="col-xs-12 col-sm-6">
		<%= image_tag 'mypic.jpeg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-6 col-sm-6 about">
		<h2 class="text-center">Michael Malmfeldt</h2>
		<br />
		<p>
			Michael Malmfeldt is an Accounting Professor and CPA. However, he enjoys doing things that most accountants wouldn't dream of. Most notably, he doesn't feel totally out of place in social situations.
		</p>
	</div>
	<br class='clear'>
	<br />
	<br />
	<br />
	<br />
